{% extends "home.html" %}
{% block title %} Questions {% endblock %}
{% block content %}

  <div class="container">
    {% for question in questions %}
    <div class="question jumbotron" style="display:none">
      <div class="row" >
        <h2 class="col-sm-6"> {{ question.question }}</h2>
        <h2 class="col-sm-6"> Point is {{ question.point }}</h2>
      </div>
      <div class="row">
        <ol>
          {% for answer in question.question_answers.all %}
            <li class="col-sm-6" style="margin-bottom: 10px"> <button class="btn btn-primary" type="button" id="{{answer.id}}" value="{{answer.id}}">{{answer}}</button> </li>
          {% endfor %}
        </ol>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="total" style="display:none">
    <h2>congratulations your are win the game and your total score is {{total}}</h2>
  </div>
{% endblock %}

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
var q_count = 0;
$( document ).ready(function() {
    $('.question').first().css("display", "block");
});
  $("button").click(function() {
    var btn = $(this).attr('id')
  $.ajax({
    type: "GET",
    url: "{% url 'check_answer' %}",
    data: {answer_id: btn},

    success: function(data){
      if (data=="ok") {
        console.log(btn)
          q_count++;
          $("button[id="+btn+"]").removeClass("btn-primary").addClass("btn-success");
          setTimeout(function(){
            $('.question:visible').next().css("display", "block");
            $('.question:visible').prev().css("display", "none");
          }, 700);

          if (q_count==5) {
            $(location).attr("href", "{% url 'home' %}");
          }
      } else {
          $("button[id="+btn+"]").removeClass("btn-primary").addClass("btn-danger");
          setTimeout(function(){
            $(location).attr("href", "{% url 'home' %}");
          }, 800);
      }
    }
  });
  });

</script>
{% endblock %}